h1 {
    color: blue;
    
}

header {
    text-align: center;
    margin-bottom: 20px; 
}

.board {
    display: grid;
    grid-template-rows: 200px 200px;
    grid-template-columns: 200px 200px;
    grid-gap: 20px; 
    justify-content: center;
    position: relative;
}

/* body {
    display: flex;
    justify-content: center;
} */

/* .box {
    
    border: 2px solid black;
    display: flex;
    align-items: center;
    justify-content: center;
    color: black;
    pointer-events: auto;
} */

.circle {
    border: 2px solid black;
    display: flex;
    align-items: center;
    justify-content: center;
    color: black;
    pointer-events: auto;
}

.buttons {
    display: flex;
    justify-content: space-evenly;
    margin-top: 20px;
    
}

/* #box1 {
    background: green;
}

#box2 {
    background: red;
}

#box3 {
    background: yellow;
}

#box4 {
    background: blue;
} */

#quarterCircleTopLeft {
    width:200px; 
    height:200px; 
    border:3px solid #000; 
    background: green;
    border-radius: 200px 0 0 0;
}

#quarterCircleTopRight {
    width:200px; 
    height:200px; 
    border:3px solid #000; 
    background: red;
    border-radius: 0 200px 0 0;
}

#quarterCircleBottomLeft {
    width:200px; 
    height:200px; 
    border:3px solid #000; 
    background: yellow;
    border-radius: 0 0 0 200px;
}

#quarterCircleBottomRight {
    width:200px; 
    height:200px; 
    border:3px solid #000; 
    background: blue;
    border-radius: 0 0 200px 0;

}