h1 {
    color: #733380;
    font-size: 45px;
    font-family: 'Arimo', sans-serif;
}

header {
    text-align: center;
    margin-bottom: 20px; 
}

.round {
    font-family: 'Arimo', sans-serif;
    font-size: 18px;
    padding-top: 20px;
}

#count {
    padding-top: 15px;
}

.board {
    display: grid;
    grid-template-rows: 200px 200px;
    grid-template-columns: 200px 200px;
    grid-gap: 20px; 
    justify-content: center;
    position: relative;
}

body {
    background: lightgray;
}

/* .box {
    
    border: 2px solid black;
    display: flex;
    align-items: center;
    justify-content: center;
    color: black;
    pointer-events: auto;
} */

.circle {
    border: 2px solid black;
    display: flex;
    align-items: center;
    justify-content: center;
    color: black;
    pointer-events: auto;
}

.buttons {
    display: flex;
    justify-content: space-evenly;
    margin: auto;
    padding-right: 20px;
    padding-left: 20px;
    max-width: 600px;
    padding-top: 30px;
}

/* #box1 {
    background: green;
}

#box2 {
    background: red;
}

#box3 {
    background: yellow;
}

#box4 {
    background: blue;
} */

#quarterCircleTopLeft {
    width:200px; 
    height:200px; 
    border:3px solid #000; 
    background: darkgreen;
    border-radius: 100px 0 0 0;
    cursor: pointer;
}


#quarterCircleTopRight {
    width:200px; 
    height:200px; 
    border:3px solid #000; 
    background: darkred;
    border-radius: 0 100px 0 0;
    cursor: pointer;
}

#quarterCircleBottomLeft {
    width:200px; 
    height:200px; 
    border:3px solid #000; 
    background: #FFAA1D;
    border-radius: 0 0 0 100px;
    cursor: pointer;
}

#quarterCircleBottomRight {
    width:200px; 
    height:200px; 
    border:3px solid #000; 
    background: darkblue;
    border-radius: 0 0 100px 0;
    cursor: pointer;

}

.button {
    font-family: 'Arimo', sans-serif;
    font-size: 18px;
    border-radius: 12px;
    background-color: #95E0E8;
    padding: 15px;
    border: 1px solid black;
    cursor: pointer;
}

.trigger {
    font-family: 'Arimo', sans-serif;
    font-size: 18px;
    border-radius: 12px;
    background-color: #95E0E8;
    padding: 15px;
    border: 1px solid black;
    cursor: pointer;
}

.button:hover {
    box-shadow: 0 12px 16px 0 rgba(0,0,0,0.24), 0 17px 50px 0 rgba(0,0,0,0.19);
}

.disabled {
    opacity: 0.6;
    cursor: not-allowed;
}

.modal {
    position: fixed;
    left: 0;
    top: 0;
    width: 100%;
    height: 100%;
    background-color: rgba(0, 0, 0, 0.5);
    opacity: 0;
    visibility: hidden;
    transform: scale(1.1);
    transition: visibility 0s linear 0.25s, opacity 0.25s 0s, transform 0.25s;
}
.modal-content {
    font-family: 'Arimo', sans-serif;
    position: absolute;
    top: 30%;
    left: 50%;
    transform: translate(-50%, -50%);
    background-color: lightgray;
    padding: 1rem 1.5rem;
    width: 24rem;
    border-radius: 0.5rem;
}
.close-button {
    float: right;
    width: 1.5rem;
    line-height: 1.5rem;
    text-align: center;
    cursor: pointer;
    border-radius: 0.25rem;
    background-color: lightgray;
}
.close-button:hover {
    background-color: darkgray;
}
.show-modal {
    opacity: 1;
    visibility: visible;
    transform: scale(1.0);
    transition: visibility 0s linear 0s, opacity 0.25s 0s, transform 0.25s;
}
